{% extends 'base.html' %}

{% block conteudo %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Atenção!</h4>
        <p>Você está prestes a excluir permanentemente o registro de <strong>"{{ object }}"</strong>.</p>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, desejo excluir</button>
            <a href="{% url 'listar-clientes' %}" class="btn btn-secondary">Cancelar e Voltar</a>
        </form>
    </div>
{% endblock %}